export(signCalc)
export(slopeFilt)
export(lengthAnalysis)
export(miRNAanalysis)
export(rfPred)
export(gseaAnalysis)
export(gseaPlot)
export(codonCalc)
export(signaturesHeatmap)
export(gageAnalysis)
export(contentAnalysis)
export(motifAnalysis)
export(goAnalysis)
export(plotFeaturesMap)
export(uorfAnalysis)
export(contentMotifs)
export(foldingEnergyAnalysis)
export(goDotplot)
export(plotSignatures)
export(plotSignatures_ads)
export(featureIntegration)
export(postNetStart)
export(codonUsage)
export(codonCalc)
export(codonUsage)
export(featureIntegration)
export(get_signatures)

import(dplyr)
importFrom(plyr,ldply)
importFrom(Biostrings,reverseComplement)
importFrom(Biostrings,DNAString)
importFrom(pqsfinder,PQSViews)
importFrom(dplyr,"%>%")
importFrom(data.table,":=")
importFrom("grDevices", "adjustcolor", "dev.off", "pdf")
importFrom("graphics", "abline", "axis", "boxplot", "dotchart",
               "layout", "legend", "lines", "mtext", "par", "plot.new",
               "plot.window", "points", "rect", "text")
importFrom("methods", "new", "slot", "slot<-", "slotNames")
importFrom("stats", "IQR", "anova", "as.formula", "chisq.test",
               "coefficients", "complete.cases", "cor", "cor.test", "ecdf",
               "end", "fisher.test", "frequency", "lm", "median",
               "na.omit", "p.adjust", "predict", "qchisq", "quantile",
               "reorder", "setNames", "smooth.spline", "start",
               "wilcox.test")
importFrom("utils", "combn", "download.file", "read.delim",
               "read.table", "tail", "write.table")
importFrom("GenomicRanges","GRanges")
importFrom("IRanges","IRanges")